# Workflow disabled from auto schedule
name: Update README with GitHub Activity

on:
  # Hanya bisa dijalankan manual, tidak otomatis
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: jamesgeorge007/github-activity-readme@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
